.root {
    -fx-background-color: #f2f6fc;
    -fx-font-family: "Segoe UI";
}

/* Cartão */
.card {
    -fx-background-color: #dbe9ff;
    -fx-background-radius: 15;
    -fx-padding: 20;
}

/* Título */
.titulo {
    -fx-font-size: 17;
    -fx-font-weight: bold;
}

/* Subtítulo */
.subtitulo {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0; /* opcional */
}

/* Timer */
.timer {
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

/* Barra de progresso diária */
.progress-bar {
    -fx-min-height: 10;
}
.progress-bar .bar {
    -fx-background-insets: 0; 
    -fx-padding: 0;
}
