.root {
    background-color: #f2f6fc;
    font-family: "Segoe UI";
}

.card {
    background-color: #dbe9ff;
    -fx-background-radius: 20;
    padding: 20;
}

.titulo {
    font-size: 20;
    font-weight: bold;
}

.timer {
    font-size: 48;
    font-weight: bold;
}